@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;400;500;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-color: hsl(0, 0%, 98%);
    --text-color: hsl(0, 2%, 40%);
    --text-color-light: hsl(0, 0%, 99%);
    --button-color: hsl(0, 0%, 17%);
    --img-bg: hsl(0, 0%, 15%);
    --mg-1: 1rem;
    --mg-1-5: 1.5rem;
    --mg-2-0: 2rem;
    --mg-2-5: 2.5rem;
    --mg-3: 3rem;
    --pd-1: 1rem;
    --pd-1-5: 1.5rem;
    --pd-2: 2rem;
    --pd-2-5: 2.5rem;
    --pd-3: 3rem;
    --gap-1: 1rem;
    --gap-1-5: 1.5rem;
    --gap-2: 2rem;
    --gap-2-5: 2.5rem;
    --gap-3: 3rem;
}

body {
    font-family: 'Outfit', sans-serif;
    color: var(--text-color);
    background-color: var(--body-color);
    transition: background-color .4s, color .4s;
}

body.dark-theme {
    --body-color: hsl(0, 0%, 10%);
    --text-color: hsl(0, 0%, 70%);
    --text-color-light: hsl(0, 0%, 80%);
    --img-bg: hsl(0, 0%, 15%);
    --button-color: hsl(0, 0%, 17%);
}

.container {
    margin: 0 var(--mg-1-5);
    z-index: -20;
    overflow: hidden;
}

button, 
input {
    font: inherit;
    border: none;
    outline: none;
    background: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

img {
    width: 100%;
    height: 100%;
}

section {
    position: relative;
}

.btn {
    cursor: pointer;
}

.preloader {
    position: fixed;
    left: 7rem;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1.7);
    z-index: 200;
    opacity: 0;
}

.bluee {
    position: fixed;
    height: 100vh;
    background-color: red;
}

.preloader__img {
    width: 150px;
    height: 150px;
}

/* .wrapper {
    opacity: 0;
    display: none;
} */

.header {
    position: fixed;
    width: 100%;
    background-color: var(--body-color);
}

.nav {
   display: flex;
   justify-content: space-between;
   padding: var(--pd-1-5) 0 .45rem;
   z-index: -1;
}

.nav__logo {
    font-size: 1.3rem;
    font-weight: 600;
    margin: .25rem 0;
}

.nav__menu {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(100%);
    height: 100%;
    width: 100%;
    z-index: 100;
    background-color: var(--body-color);
    padding: var(--pd-1-5);
    transition: .5s;
}

.show-menu{
    transform: translateX(0);
}

.bg-slider {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
}

.bg-slider span {
    display: block;
    height: 35.50%;
    width: 100%;
    background-color: var(--body-color);
    transform: translateX(0);
}

.sun-icon {
    display: none;
}

.dark-theme .moon-icon {
    display: none;
}

.dark-theme .sun-icon {
    display: block;
}

.nav__lists {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 30vh;
    padding-bottom: 25vh; 
}

.nav__list {
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    gap: var(--gap-3);
}

.nav__list-social {
    display: grid;
    gap: var(--gap-1);
    padding-bottom: var(--pd-1);
}

.nav__link::after {
    display: block;
    content: '';
    border-bottom: 3px solid black;
    transform: scaleX(0);
    transition: transform 250ms;
    width: 100%;
}

.nav__link:hover::after {
    transform: scaleX(1);
}

.nav__close {
    position: absolute;
    right: 1.5rem;
}

.btn {
    font-size: 1.5rem;
    font-weight: 100;
    border-radius: 3rem;
    color: var(--text-color);
    padding: .45rem;
}

.hero__container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero__name {
    display: inline-flex;
    justify-content: flex-start;
    text-transform: uppercase;
    font-size: 1.3rem;
}

.hero__title {
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
}

/* .hero__title::after{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--body-color);
    height: 100%;
    width: 100%;
} */

.hero__img {
    max-width: 500px;
    margin: var(--mg-2-5) auto;
    text-align: center;
}

.img-avatar {
    width: 210px;
    background-color: var(--img-bg);
    border-radius: 20rem;
}

.hero__detail {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.hero__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap-1);
}

.hero__scroll {
    display: inline-flex;
    align-items: center;
    gap: var(--gap-1);
}

.hero__description {
    text-align: center;
}

.hero__svg {
    fill: var(--text-color);
}

.about__container {
    margin-bottom: 4rem;
}

.about__title {
    font-size: 2rem;
    margin-bottom: var(--mg-1);
}

.about__description {
    font-size: 1.5rem;
    line-height: 2.3rem;
}

.featured__title {
    text-align: center;
    font-size: 3rem;
}

.featured__container {
    display: grid;
    gap: var(--gap-1-5);
}

.featured__link {
    display: grid;
    gap: .75rem;
}

.img__container {
    position: relative;
    height: 100%;
}

.featured__img {
    width: 100%;
    height: 35vh;
    object-fit: cover;
}

.featured__number {
    font-size: 1.2rem;
}

.featured__shade {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .5;
}

.featured__arrow {
    color: white;
    position: absolute;
    background-color: hsl(0, 0%, 0%);
    padding: var(--pd-2);
    border-radius: 50%;
    right: 30%;
    transform: translate(-30%, -70%);
    bottom: 3rem;
}

.featured__more {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}


.footer {
    margin-top: var(--mg-3);
    margin-bottom: 4rem;
}

.footer__question {
    font-size: 1.7rem;
}

.footer__headline {
    font-size: 3.8rem;
    margin-bottom: var(--mg-3);
}

.footer__contact {
    display: flex;
    justify-content: space-between;
}

.footer__mail {
    display: flex;
    align-items: center;
    gap: .45rem;
}

.footer__mail > span {
    font-size: 1.1rem;
}

.footer__mail > i {
    font-size: 1.3rem;
}

.footer__links {
    display: flex;
    gap: var(--gap-1);
}

@media (min-width: 500px) {
    .hero__detail {
       font-size: 1.1rem;
       max-width: 700px;
    }

    .hero__title {
        font-size: 4.8rem;
    }

    .hero__footer {
        justify-content: space-between;
    }
}

@media (min-width: 720px) {
   .hero__detail {
    font-size: 1.3rem;
    margin: 0 auto;
   }

   .hero__title {
    font-size: 7rem;
   }

   .hero__footer {
    justify-content: space-between;
   }

   .featured__article {
        display: flex;
        justify-content: space-between;
        width: min(80%, 70rem);
        gap: .85rem;
        margin: 1rem auto;
   }

   .featured__number {
    font-size: 1.4rem;
   }

   .featured__article:nth-child(odd) {
    flex-direction: row-reverse;
   }

   .nav__list {
    font-size: 4.5rem;
   }

   .nav__list-social {
    font-size: 1.3rem;
   }

   .footer__question {
     font-size: 1.9rem;
    }

   .footer__headline {
    font-size: 4.8rem;
   }

   .footer__mail > span {
    font-size: 1.4rem;
   }

   .footer__mail > i {
    font-size: 1.6rem;
   }
}

@media (min-width: 821px) {
    .hero__container {
        display: flex;
        flex-direction: row;
        margin-top: 5rem;
        justify-content: center;
        align-items: center;
    }

    .img-avatar {
        width: 350px;
    }

    .about__container {
        text-align: center;
    }
    
    .hero__description {
        justify-content: space-between;
    }

    .about__title {
        font-size: 4rem;
        margin-bottom: var(--mg-2-0);
    }
    
    .about__description {
        font-size: 2rem;
        line-height: 4rem;
    }

    .featured__article {
        justify-content: flex-end;
        width: min(100%, 70rem);
   }

   .featured__img {
        height: 50vh;
   }

   .featured__number {
    font-size: 1.8rem;
   }
}
